p,
h1 {
    margin: 0;
    padding: 0;
}

body {
    background-color: green;
}

.wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

p {
    color: rgb(213, 139, 28);
}

img {
    background-color: yellow;
    border-radius: 40%;
    display: block;
    width: 48px;
    height: 48px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: blanchedalmond;
}

.heading {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    background-color: rgb(0, 221, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
span{
    margin-right: 5px;
    font-size: 23px;
    color: rgb(255, 0, 0);
}